<ScrollView>
  <StackLayout class="body">
    <Image src="~/images/finde-keltane.png" class="logo"></Image>
    <Label class="header" text="Privacy Policy (FindE)"></Label>
    <StackLayout class="section">
      <Label class="subheader" text="1. Purpose of the Privacy Policy:"></Label>
      <Label
        text="This privacy policy defines how the FindE application collects,
      processes, and protects user’s personal information and rights related
      to privacy. Our goal is to provide our users with a safe and
      personalized experience when using our application."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="2. Collected Information:"></Label>
      <Label class="content" textWrap="true">
        <FormattedString>
          <Span
            >a. Registration Information: When you register for the application,
            we collect your name, email address, and username.</Span
          >
        </FormattedString>
      </Label>
      <Label class="content" textWrap="true">
        <FormattedString>
          <Span
            >b. Location Information: FindE uses location services to provide
            you with location-based content and events.</Span
          >
        </FormattedString>
      </Label>
      <Label class="content" textWrap="true">
        <FormattedString>
          <Span
            >c. Usage and Device Information: We gather information on how you
            use the FindE application and the devices you use. This data helps
            us improve the functionality of the application and provide tailored
            recommendations.</Span
          >
        </FormattedString>
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="3. Purpose of Data Use:"></Label>
      <Label
        text="The collected information is used for the following purposes:"
        class="content"
        textWrap="true"
      >
      </Label>
      <Label
        text="a. Facilitating event recommendations and display."
        class="content"
        textWrap="true"
      >
      </Label>
      <Label
        text="b. Improving application functionality and personalizing user
      experience."
        class="content"
        textWrap="true"
      >
      </Label>
      <Label
        text=" c. Providing information to event organizers."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="4. Use of Location:"></Label>
      <Label
        text=" a. Location Services: The application uses location services to
      recommend events in your vicinity."
        class="content"
        textWrap="true"
      >
      </Label>
      <Label
        text="b. Permission: Users are explicitly asked for permission to use location
      data in the application. Your safety is of utmost importance to us, and
      your location data is used solely for customizing events for you."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="5. Event Photos:"></Label>
      <Label
        text="a. User-Uploaded Photos: Event creators can add photos to events,
      visible to other users in the event description. We emphasize your
      privacy and recommend adding only appropriate photos to your events."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="6. Data Protection:"></Label>
      <Label
        text=" We keep your information secure and protect it from misuse or
      unauthorized access. FindE employs industry standards to safeguard data."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="7. Data Sharing:"></Label>
      <Label
        text="We do not sell, rent, or share your personal information with third
      parties without your consent, except for purposes mandated by law. User
      privacy is crucial to us, and your data is treated confidentially."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="8. User Rights:"></Label>
      <Label
        text="You have the right to review, edit, and delete your personal
      information. You can also withdraw your consent for data processing.
      Users have full control over their data and can make changes through the
      application settings."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="9. Changes to the Privacy Policy:"></Label>
      <Label
        text="We reserve the right to update this privacy policy, with notifications
      within the application. Users will be informed in advance of any changes
      to keep them informed about our privacy policy."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <Label class="header" text="Terms of Use:"></Label>

    <StackLayout class="section">
      <Label class="subheader" text="1. Service Usage:"></Label>
      <Label
        text="By using the FindE application, you agree to abide by these terms of use
      and applicable laws. Usage of the application requires the user's
      consent to these terms."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="2. Registration:"></Label>
      <Label
        text="To access certain features of the FindE application, you must register
      and create an account. Registration is a necessary part of using the
      application and enables a personalized user experience."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="3. Usage Restrictions:"></Label>
      <Label
        text="Users must not use the FindE application for unlawful purposes, share
      inappropriate content, or violate the rights of other users. Users must
      adhere to accepted terms of use to ensure the secure use of the
      application."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="4. Fees for Application Usage:"></Label>
      <Label
        text="Certain features of the FindE application may require a paid
      subscription, and users agree to pay agreed-upon fees. These fees are
      associated with premium features that add value to users."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="5. Rights to Changes:"></Label>
      <Label
        text="We reserve the right to modify FindE application features, pricing, and
      terms of use. Our aim is to enhance the user experience, with advance
      notice of any changes."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="6. Termination:"></Label>
      <Label
        text="We reserve the right to terminate your account or restrict access to the
      FindE application due to violations or neglect. Users are responsible
      for complying with the terms of use, and violations may lead to account
      closure."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>

    <StackLayout class="section">
      <Label class="subheader" text="7. Limitation of Liability:"></Label>
      <Label
        text="We are not responsible for content produced by third parties or damages
      resulting from the use of the FindE application. We emphasize users' responsibility in evaluating content and events."
        class="content"
        textWrap="true"
      >
      </Label>
    </StackLayout>
    <Button (tap)="goBack()" text="Back" class="button"></Button>
  </StackLayout>
</ScrollView>
