.t-36 {
  font-size: 36px;
}

.active1 {
  font-weight: bold;
  color: white;
}

.active2 {
  font-weight: bold;
  color: white;
}
.active3 {
  font-weight: bold;
  color: white;
}

.special {
  color: rgba(233, 236, 239, 0.381);
}
