<!-- Tällä komponentilla tehdään suodatus. Neljä ikonia, joita painamalla, voidaan valita,
minkä genren tapahtumia näytetään. -->
<StackLayout class="body">
  <Button
    horizontalAlignment="right"
    (tap)="routeSettings()"
    class="menuButton"
  >
  </Button>
  <Image class="logo" src="~/icons/valk_logo.png"></Image>

  <label class="text" text="Find events"></label>
  <Label class="text2" text="Filter the events by category"></Label>
  <StackLayout class="icongrid">
    <FlexboxLayout class="iconrow">
      <StackLayout class="icon_text">
        <Image
          (tap)="toggleMusic()"
          class="icon"
          src="~/icons/musiikki2.png"
          [opacity]="music ? 1 : 0.2"
        ></Image>

        <Label class="icontext" text="Music"></Label>
      </StackLayout>
      <StackLayout class="icon_text">
        <Image
          (tap)="toggleFamily()"
          class="icon"
          src="~/icons/perhe2.png"
          [opacity]="family ? 1 : 0.2"
        ></Image>
        <Label class="icontext" text="Family"></Label>
      </StackLayout>
    </FlexboxLayout>
    <FlexboxLayout class="iconrow">
      <StackLayout class="icon_text">
        <Image
          (tap)="toggleFood()"
          class="icon"
          src="~/icons/ruokajuoma2.png"
          [opacity]="food ? 1 : 0.2"
        ></Image>
        <Label fontSize="12" class="icontext" text="Food & Drink"></Label>
      </StackLayout>
      <StackLayout class="icon_text">
        <Image
          (tap)="toggleSports()"
          class="icon"
          src="~/icons/liikunta2.png"
          [opacity]="sports ? 1 : 0.2"
        ></Image>
        <Label class="icontext" text="Sports"></Label>
      </StackLayout>
    </FlexboxLayout>
  </StackLayout>
</StackLayout>
