<!-- Rekisteröinti-lomakkeet. Validointi kertoo, missä tiedoissa on virheitä. -->
<ScrollView class="scroll">
  <StackLayout marginTop="5%" height="150%">
    <StackLayout
      width="80%"
      marginTop="5%"
      class="register-container"
      [formGroup]="myForm"
    >
      <TextField
        [ngClass]="{ boxerror: emailError }"
        class="textfield_sapo"
        formControlName="email"
        hint="Email"
        keyboardType="email"
      ></TextField>

      <Label
        *ngIf="
          myForm.get('email').touched && myForm.get('email').hasError('email')
        "
        text="Email is not valid"
        color="red"
        class="error_email"
      ></Label>
      <TextField
        class="textfield_firstname"
        formControlName="firstname"
        hint="First name"
        keyboardType="email"
      ></TextField>
      <Label
        *ngIf="
          myForm.get('firstname').touched &&
          myForm.get('firstname').hasError('required')
        "
        text="First name required"
        color="red"
        class="error_email"
      ></Label>
      <TextField
        class="textfield_lastname"
        formControlName="lastname"
        hint="Last name"
        keyboardType="email"
      ></TextField>
      <Label
        *ngIf="
          myForm.get('lastname').touched &&
          myForm.get('lastname').hasError('required')
        "
        text="Last name required"
        color="red"
        class="error_email"
      ></Label>
      <TextField
        [ngClass]="{ boxerror: salasanaError }"
        class="textfield_password"
        formControlName="password"
        hint="Password"
        secure="true"
      ></TextField>
      <TextField
        [ngClass]="{ boxerror: salasanaError }"
        class="textfield_password2"
        formControlName="password2"
        hint="Confirm password"
        keyboardType="email"
        secure="true"
      ></TextField>
    </StackLayout>

    <stackLayout width="80%">
      <stackLayout orientation="horizontal">
        <CheckBox
          fillColor="white"
          class="checkbox"
          [(ngModel)]="isChecked"
          (checkedChange)="changeChecked($event)"
        ></CheckBox>
        <Label
          (tap)="routePrivacy()"
          [ngClass]="{ privacyblack: isPressedPrivacy }"
          color="white"
          textWrap="true"
          text="I agree to the terms of use and have read the privacy policy"
        ></Label>
      </stackLayout>
      <FlexboxLayout marginTop="7%">
        <Button
          [isEnabled]="
            isChecked &&
            myForm.get('email').value.length > 0 &&
            myForm.get('firstname').value.length > 0 &&
            myForm.get('lastname').value.length > 0 &&
            myForm.get('password').value.length > 0
          "
          class="signupbutton"
          text="Sign up"
          (tap)="submitSignUp()"
        ></Button>
      </FlexboxLayout>
      <Label
        *ngIf="salasanaError || emailError"
        text="Please check your information"
        class="error"
      ></Label>

      <Label class="registered" text="Already registered?"></Label>
      <Label
        class="registered_down"
        text="Login"
        [ngClass]="{ pressed: isPressed }"
        (tap)="routeLogin()"
      ></Label>
    </stackLayout>
  </StackLayout>
</ScrollView>
