@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Lato:ital,wght@1,700&family=Roboto+Slab&display=swap");

.body {
  background-color: #323439;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("~/icons/kuvio_2_1.png"); /* ympyrät */
  background-position: center; /* Ympyrä keskelle */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-size: 140% 90%; /* Customize the background image size */
}

.flex {
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  flex-direction: column; /* Stack items vertically */
  height: 100%; /* Ensure the flexbox takes the full height of its parent container */
  margin-top: 10%;
  margin-bottom: 20%;
}
.otsikko {
  text-align: center;
  margin-top: 3%;
  font-size: 30;
  color: white;
  font-weight: bold;
}
.register_button {
  width: 40%;
  border-radius: 20;
  background-color: black;
  color: #e2d2b2;
  font-weight: bold;
  margin-top: 1rem; /* Adjust vertical margin as needed */
  margin-bottom: 20%; /* Väliä alempaan teksteihin */
  font-size: 18;
}
.register_button:active {
  background-color: whitesmoke;
}

.registered {
  font-size: 15;
  font-weight: bold;
  color: #ddd2b2;
  margin-top: 1rem;
  font-family: "Roboto Slab", serif;
}

.login {
  font-size: 13;
  font-weight: bold;
  color: #ddd2b2;
  margin-top: 1rem; /* Adjust vertical margin as needed */
  text-decoration: underline;
  font-family: "Roboto Slab", serif;
}
.login:active {
  color: rgb(10, 9, 9);
}

.logo {
  width: 600px; /* Koko */
  margin-top: 50px;
  height: auto;
  margin-top: 30%;
}

.pressed {
  color: white; /* Voit säätää haluamaasi väriä */
}
