<!-- Ilmoitukset komponentti. Tällä komponentilla näytetään tapahtumat card-komponentin avulla.
Jokaiselle tapahtumalle välitetään tiedot card-komponentille.  -->

<StackLayout class="body">
  <Image class="logo" src="~/icons/valk_logo.png"></Image>
  <Image
    src="~/images/finde-notifications.png"
    class="notificationsBanner"
  ></Image>
  <Image
    class="fas"
    src="font://&#xf061;"
    horizontalAlignment="right"
    (pan)="onSwipe($event)"
    [isUserInteractionEnabled]="true"
  ></Image>

  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
  <ScrollView class="scroll">
    <StackLayout>
      <ns-card
        *ngFor="let event of events"
        [eventData]="event"
        [imageUrl]="this.imageUrl"
      ></ns-card> </StackLayout
  ></ScrollView>
</StackLayout>
