.body {
  background-image: url("~/icons/kuvio_2_1.png");
  background-size: 90% 80%;
  background-repeat: no-repeat;
  background-position: -400% 300%;
  background-color: #323439;
}
.scroll {
  height: 100%;
}

.header {
  text-align: center;
  margin-top: 3%;
  font-size: 30;
  color: white;
  font-weight: bold;
  margin-top: 5%;
}

.logo {
  width: 50%;
  margin-top: 2%;
}

/* register ja your account details kuvan tyylittelyt */
.notificationsBanner {
  width: 800px; /* Adjust the size as needed */
  margin-top: 100px;
  height: auto; /* Maintain the aspect ratio */
}

.ilmoitukset {
  text-align: center;
  color: white;
  font-size: 30;
  letter-spacing: 0.2;
}

.viiva {
  color: white;
  text-align: center;
}

.events {
  color: white;
  text-align: center;
  font-family: fantasy;
}

.arrow {
  text-align: right;
}
.fas {
  width: 10%;
  color: white;
  margin-top: 2%;
  text-align: right;
  margin-right: 2%;
}
